# Editor & test runner configs
.vscode/**
.vscode-test/**

# Development source
src/**
**/*.ts
**/*.map

# Test config
**/.vscode-test.*

# Build/test tools
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs

# DO NOT ignore the compiled extension
# out/** ← this line is removed intentionally
